/* Post Footer for Pagination */

.pagination {
	margin: 2rem 0 1rem 0;
}
.cls-post-footer {
  background-color: $gray-200;
  padding: 0.8rem 0.8rem 0rem 0.8rem;
  margin: 1rem 0 0 0;
  @include border-radius($alert-border-radius);
}

.cls-pager>a {
  background-color: $gray-200;
  padding: 1rem 0.8rem;
  display: block;
  min-height: 2rem;
  font-size: 1.2rem;
}
.cls-pager>a:hover {
  background-color: $gray-300;
  text-decoration: none;
}
.cls-pager>a:focus {
  background-color: $gray-300;
  text-decoration: none;
}
.cls-pager-parent {
  list-style: none;
  padding: 0;
}
.cls-pager-left {
  margin: 0 -0.8rem 0 -0.8rem;
  a {
    border-radius: 0 0 0 $alert-border-radius;
  }
}
.cls-pager-right {
  text-align: right;
  margin: 0 -0.8rem 0 -0.8rem;
  a {
    border-radius: 0 0 $alert-border-radius 0;
  }
}
